<div class="h-screen">
  <div
    class="text-center p-8 h-full flex items-center justify-center">
    <div>
      <%= image_tag(
                "https://carmoenergy.com/img/logo-carmo-energy.png",
                width: 100,
                height: 100,
                alt: "CarmoEnergy Logo",
                class: "block mx-auto"
              ) %>
      <span>
        <%= t('processing') %>...
      </span>
    </div>
  </div>
</div>
<submit-form>
  <%= form_for '', url: templates_upload_path, method: :post, class: 'hidden' do %>
    <button type="submit"></button>
    <input name="url" value="<%= params[:url] %>">
    <input name="filename" value="<%= params[:filename] %>">
  <% end %>
</submit-form>
